#Python Cache Files 
__pycache__/
*.pyc

#Environment files
.env
.env.local  
venv/
.venv/

#OS files 
.DS_Store

#IDE configs
.vscode/

#Dependencies
.mypy_cache/

#Large datasets and ouputs
*.csv
outputs/
*.loc
*.tmp

#text documents
*.rtf
profile.txt

#ChromaDB data
chroma_db/